@use "sass:math";
@import '../../styles/index';

.page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #0E131E;
    padding: px-to-rem(16) px-to-rem(32);

    &__title {
        font-size: px-to-rem(32);
        font-weight: 600;
        color: #C9CED6;
        margin-bottom: px-to-rem(48);

        > span {
            color: #FFC107;
        }
    }

    @include respond-to(md) {}
}
